{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<section class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>About Us</h2>
            <p>Welcome to Our Mayur Ice Creams Shop, where your sweetest dreams come true! We are passionate about crafting the most delicious and unique ice cream flavors for our customers. With a legacy of over 20 years in the ice cream industry, we pride ourselves on using only the finest ingredients to create a delightful frozen treat experience.</p>
            <p>Our dedicated team of ice cream enthusiasts is constantly experimenting with new flavors and recipes to ensure that every visit to our shop is an adventure for your taste buds. Whether you're a fan of classic vanilla or a daring explorer of avant-garde flavors, we have something to satisfy every palate.</p>
            <p>Visit us today and indulge in a world of creamy, dreamy, and utterly delightful ice cream creations. We can't wait to serve you!</p>
            <h4>Customer Support</h4>
            <p>
                <strong>Email:</strong> <a href="mailto:support@mayuricecreams.com">support@mayuricecreams.com</a><br>
                <strong>Phone:</strong> 1-800-123-4567<br>
            </p>
            <h4>Visit Our Store</h4>
            <p>
             If you prefer a face-to-face interaction, you're welcome to visit our physical store at:<br>
            <strong>Store Address:</strong><br> 1234 IceCream Gear Avenue, City-Mumbai, State-Maharashtra, ZIP Code-400-081
            </p>
            <p>For more updates and promotions,Follow us on:</p>
            <div class="social-icons">
                <a class="fa fa-facebook" style="margin-right: 10px;"></a><a href="https://www.facebook.com/"> https://www.facebook.com</a><br>
                <a class="fa fa-twitter" style="margin-right: 10px;"></a><a href="https://www.twitter.com/">https://www.twitter.com</a><br>
                <a class="fa fa-instagram" style="margin-right: 10px;"></a><a href="https://www.instagram.com/">https://www.instagram.com</a><br>
                <a class="fa fa-whatsapp" style="margin-right: 10px;"></a><a href="https://www.whatsapp.com/">https://www.whatsapp.com</a><br>
                <a class="fa fa-linkedin" style="margin-right: 10px;"></a><a href="https://www.linkedin.com/">https://www.linkedin.com</a>
              </div>
        </div>
        <div class="col-md-6">
            <img src="static/logo.jpg" alt="Ice Cream Shop" class="img-fluid">
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock body %}
